{
    "server": {
      "grpc" : {
        "port": "9090" 
      },
      "rest": {
        "port": "8080"
      }
    },
    "database": {
      "redis": {
        "host": "localhost:6379",
        "password": "",
        "db": 0,
        "url": ""
      },
      "postgre": {
          "host": "your-postgre-url"
      }
    },
    "grpc":{
      "dashboard_queue": "localhost:9999"
    },
    "secrets": {
      "jwt_secret": "loremipsumduiamet"
    },
    "smtp": {
      "host": "smtphost",
      "port": "smtpport",
      "user": "youremail",
      "password": "yourpassword"
    }
  }
